<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voicebot</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}" />
  </head>
  <body class="bg-gradient-to-br from-blue-100 to-purple-100 h-screen flex flex-col items-center justify-center">
    <div class="w-full max-w-md bg-white shadow-2xl rounded-xl p-6 transform transition-all hover:scale-105">
      <h1 class="text-3xl font-bold mb-6 text-center text-blue-600 flex items-center justify-center space-x-2">
        <img src="{{ url_for('static', filename='assets/img/logo.gif') }}" alt="Logo" class="h-20 w-15" />
        <span class="pr-5">Voicebot AI</span>
      </h1>
      <div id="chatbox" class="h-64 overflow-y-scroll border-2 border-blue-100 p-4 mb-4 bg-blue-50 rounded-lg scrollbar-hide">
        <!-- Chat messages will be dynamically added here -->
      </div>
      <div class="flex items-center space-x-4">
        <input id="user-input" type="text" class="flex-grow border-2 border-blue-200 rounded-full p-3 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all" placeholder="Type your message here..." />
        <button id="send-btn" class="bg-blue-500 text-white px-5 py-3 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all active:btn-click">Send</button>
        <button id="voice-btn" class="bg-green-500 text-white px-4 py-3 rounded-full hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 transition-all active:btn-click">
          <svg xmlns="http://www.w3.org/2000/svg" class="mic-icon h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
          </svg>
        </button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='assets/script.js') }}"></script>
  </body>
</html>
